
<div>
    <nav>
      <a>Navigation:</a>
      <form>
      <input name="dummytextbox" type="text" [(ngModel)]="voicetext">
      <button name="start"  (click)="startCapturing();" value="Voice">Start</button>
      <button name="stop"  (click)="stopCapturing();" value="Voice">Stop</button> 

      <p>{{status}}</p>
    </form>
    
      <ul>
        <li><a href="/experiment">Experiment</a></li>
        <li><a href="/home">Home</a></li>
        <li><a href="/analytics">Analytics</a></li>
        <li><a href="/bot">Bot</a></li>
        
      </ul>
    </nav>

  </div>
  